api.pixagram.io {
	reverse_proxy jussi_container:8080

	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, Authorization"
	}

	@options method OPTIONS
	respond @options 204
}
